# Clojure
.cpcache/
target/
*.jar
*.class
deps/
.lsp/
.clj-kondo/
.ignore

# Node.js
node_modules/

# Editor/IDE
.idea/
.vscode/
*.iml
.DS_Store
*~

# Operating System
Thumbs.db
Desktop.ini

# Logs
*.log

# Docker
Dockerfile.bak

# Gemini log
gemini.log
.nrepl-port
.gemini/

# Claude
.claude/