{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        org.clojure/core.async {:mvn/version "1.8.741"}}
 :aliases
 {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[nrepl.middleware.interruptible-eval/interruptible-eval]"]}}}