{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        metosin/reitit-ring {:mvn/version "0.9.1"}
        metosin/reitit-spec {:mvn/version "0.9.1"}
        metosin/reitit-middleware {:mvn/version "0.9.1"}
        metosin/muuntaja {:mvn/version "0.6.11"}
        ring/ring-core {:mvn/version "1.9.5"}
        ring/ring-jetty-adapter {:mvn/version "1.9.5"}}
 :aliases {:dev {:extra-paths ["dev"]}}}
