{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        ring/ring-core {:mvn/version "1.9.6"}
        ring/ring-jetty-adapter {:mvn/version "1.9.6"}
        metosin/reitit {:mvn/version "0.9.1"}
        metosin/muuntaja {:mvn/version "0.6.11"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        deepwater/engine {:local/root "../engine"}}
 :aliases
 {:dev {:extra-deps {dev.weavejester/hashp {:mvn/version "0.4.0"}
                     djblue/portal {:mvn/version "0.60.2"}}}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b749a"}}
          :ns build}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}
                       cider/cider-nrepl {:mvn/version "0.57.0"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[refactor-nrepl.middleware/wrap-refactor, cider.nrepl/cider-middleware, nrepl.middleware.interruptible-eval/interruptible-eval]"]}}}
